### ignore binary files in llm-runtime ###
/neural_speed/*
!/neural_speed/*.*
!/neural_speed/*/

*.exe
*.dll
*.dylib
*.pyd
*.so
*.so.*


.vs
.vscode
__pycache__
/out
runtime_outs
build
CMakeUserPresets.json
*.egg-info
.eggs
