### ignore binary files in llm-runtime ###
/neural_speed/*
!/neural_speed/*.*
!/neural_speed/*/

*.exe
*.dll
*.dylib
*.pyd
*.so
*.so.*


/.vs
/out
.vscode/
.vscode/*
bestla/build/
bestla/build/*
neural_speed.egg-info/
build/
debug/
.eggs/
dist/
runtime_outs/
__pycache__
CMakeUserPresets.json
*.egg-info
