--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
cmake
datasets
einops
gguf
numpy
peft
protobuf<3.20
py-cpuinfo
sentencepiece
setuptools>=61
tiktoken
torch==2.1.0+cpu
transformers
transformers_stream_generator
