--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
cmake
datasets
einops
gguf
huggingface_hub
matplotlib
numpy
peft
protobuf<3.20
py-cpuinfo
sentencepiece
setuptools>=61
tiktoken
torch
transformers
transformers_stream_generator
zipfile38
