--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
cmake
datasets
einops
gguf
matplotlib
numpy
peft
protobuf<3.20
py-cpuinfo
sentencepiece
setuptools>=61
tiktoken
torch==2.1.0+cpu; sys_platform == "linux"
torch == 2.*;     sys_platform != "linux"
transformers
transformers_stream_generator
